<ion-tabs class="tabs-icon-top tabs-color-active-positive">

    <!-- 首页 Tab -->
    <ion-tab title="首页" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" ui-sref="tab.home" href="#/tab/home">
        <ion-nav-view name="tab-home"></ion-nav-view>
    </ion-tab>

    <!-- 列表 Tab -->
    <ion-tab title="列表" icon-off="ion-ios-browsers-outline" icon-on="ion-ios-browsers" ui-sref="tab.list" href="#/tab/list">
        <ion-nav-view name="tab-list"></ion-nav-view>
    </ion-tab>

    <!-- 我的 Tab -->
    <ion-tab title="我" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" ui-sref="tab.mine" href="#/tab/mine">
        <ion-nav-view name="tab-mine"></ion-nav-view>
    </ion-tab>


</ion-tabs>
