<ion-view view-title="救援操作流程">
    <ion-header-bar align-title="center" class="bar-positive">
        <div class="buttons">
            &nbsp;
            <button class="button button-clear icon ion-ios-arrow-back" ng-click="gotoBack()"></button>
        </div>
        <h1 class="title">救援操作流程</h1>
    </ion-header-bar>
    <ion-content class="light-bg">
        <div ng-include="'templates/common/globaltips.html'"></div>
        <div class="list padding">
            <div class="padding">
                <p class="tips">第一步：点击待命按钮，开始待命，开始听单。（说明：后台手工派单不受此状态影响）</p>
                <img class="procimg" ng-src="img/proc/1.jpg"/>
                <br/>

                <p class="tips">第二步：有新的救援工单推送到救援师傅手中时，救援师傅可选择接受或者拒绝！</p>
                <img class="procimg" ng-src="img/proc/2.jpg"/>
                <br/>

                <p class="tips">第三步：当救援师傅接受救援工单后准备开始前往故障地点时，务必点击出发按钮！（注意：点击出发后，为保证里程数据的准确性，请勿手动关闭屏幕！）</p>
                <img class="procimg" ng-src="img/proc/3.jpg"/>
                <br/>

                <p class="tips">第四步：当救援师傅到达救援地点后，点击到达按钮，系统会计算里程！</p>
                <img class="procimg" ng-src="img/proc/4.jpg"/>
                <br/>

                <p class="tips">第五步：按照提示信息上传救援图片！所需救援图片视服务项目不等！</p>
                <img class="procimg" ng-src="img/proc/5.jpg"/>
                <br/>

                <p class="tips">第六步：实施完救援服务，请客户给出救援的满意度！</p>
                <img class="procimg" ng-src="img/proc/6.jpg"/>
                <br/>

                <p class="tips">第七步：点击录音按钮，开始录音，请客户给出满意度录音信息！再次点击 结束录音</p>
                <img class="procimg" ng-src="img/proc/7.jpg"/>
                <br/>

                <p class="tips">第八步：录音结束，保存并上传，同时点击完成，整个救援服务结束！</p>
                <img class="procimg" ng-src="img/proc/8.jpg"/>
                <br/>

                <p class="tips">使用补充说明</p>
                <img class="procimg" ng-src="img/proc/10.jpg"/>
                <br/>
                <img class="procimg" ng-src="img/proc/11.jpg"/>
                <br/>
                <img class="procimg" ng-src="img/proc/12.jpg"/>
                <br/>
            </div>
        </div>
    </ion-content>
</ion-view>
